body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      background-color: #f1f1f1;
    }
header {
  font-size: 14vmin;
  margin-top: 1em;
  margin-bottom: 1em;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: aliceblue;
  text-decoration: none;
}

/* selected link */
a:active {
  color: aliceblue;
  text-decoration: none;
}
.testo {
  font-size: 6vmin;
  text-align: center;
  max-width: 80%;
}
.link {
  margin-bottom: 2em;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 5vmin;
}
.dark {
  background: lightslategray;
  color: lightslategray;
  width: 100%;
  height: 110vh;
  padding-right: 10%;
  overflow: hidden;
}
.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.vl {
  border-left: 6px solid teal;
  height: 500px;
  position: absolute;
  left: 5%;
  margin-left: -3px;
  top: 0;
}
