body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      height: 100vh;
      background-color: #f1f1f1;
    }
.testo {
  font-size: 6vw;
  text-align: center;
  max-width: 80%;
}
.link {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 5vw;
}
