body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      background-color: #f1f1f1;
    }
header {
  font-size: 14vmin;
  margin-top: 1em;
  margin-bottom: 1em;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: dodgerblue;
  text-decoration: none;
}

/* selected link */
a:active {
  color: dodgerblue;
  text-decoration: none;
}
.testo {
  font-size: 6vmin;
  text-align: center;
  max-width: 80%;
}
.link {
  margin-bottom: 2em;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 5vmin;
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
